mixin input(type, label, name, min=0, max, value='')
    div(class='ui-control')&attributes(attributes)
        label=label
            span(id=name + 'Val', data-type=type)
        input(id=name, type=type, value=value, min=min, max=max)

doctype html
html
  head
    meta(charset='UTF-8')
    title WormPath
    link(rel='stylesheet' href='style.css')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')
    script(type='text/javascript' src='https://unpkg.com/acorn')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js' integrity='sha512-ehNJ9gpOQJn8EYlA3P1zUtfrh97G/6WNsjfPfpnMxbo6PX6UXHRj8Ny5MCd36w2eTPlvOSVuXLZmY+/VLVhI4A==' crossorigin='anonymous')
    script(src='CCapture.all.min.js')
    // <script type="text/javascript" src="html2canvas.min.js"></script>
    script(type='text/paperscript' canvas='canvas' src='wormpath.js')
  body
    canvas#canvas(resize='' hidpi="off")

    #progress
    button#export-button Export SVG
    button#log-params Log params
    button#debug Debug

    #ui-row
      div.ui-section
        .ui-section-label.section 
            span General
        div.ui-control        
            label Preset:
            select#preset
                option(value='0') Default
                option(value='1') Big white
                option(value='2') Golden wave
                option(value='3') Blue ocean
                option(value='4') Green lantern
                option(value='5') Orange twist
                option(value='6') Green revolt
                option(value='7') Rainbow text
                option(value='8') Cream
                option(value='9') NASA
                option(value='10') Snö
                option(value='11') Gradient worm
                option(value='12') *Debug*
        +input('color', 'Bg color', 'drawingBgColor')
        +input('range', 'Scale:', 'drawingSize', 0, 20)
        +input('range', 'Density:', 'density', 0, 100)
        div.ui-section#brush-section
            .ui-section-label.section 
                span Brush
            div.ui-control
                label Brush type:
                select#bgType
                    option(value='0' selected='') Square
                    option(value='1') Circle
                    option(value='2') Double diamond
                    option(value='3') Cross
                    option(value='4') Pyramid
                    option(value='5') Bubble
                div.collapseui#brushtypecollapsible(style='display:none')
                    +input('range', 'Innercircle size', 'inCircleSize')
                    +input('color', 'Innercircle color', 'inCircleColor')
                    +input('range', 'Innercircle opacity', 'inCircleOpacity')
                    div.ui-control
                        label Brush color style:
                        select#inCircleBlendmode
                            option(value='normal' selected='') Normal
                            option(value='add') Add
                            option(value='screen') Screen
                            option(value='multiply') Multiply
                            option(value='color-dodge') Color-dodge
                            option(value='darker') Darken
                            option(value='overlay') Overlay
                            option(value='soft-light') Soft-light
                            option(value='hard-light') Hard-light
                div.collapseui#brushcrosscollapsible(style='display:none')
                    +input('range', 'Cross Width:', 'brushCrossWidth')
                div.collapseui#brushbubblesizecollapsible(style='display:none')
                    +input('range', 'Bubble size:', 'brushBubbleSize', 0, 100)
                    +input('range', 'Bubbles:', 'brushBubbleAmount', 0, 20)
            +input('range', 'Brush size:', 'size', 0, 400)
            +input('range', 'Rotation:', 'rotation', 0, 360)
            +input('color', 'Brush Bg', 'bgColor')
            +input('range', 'Brush opacity', 'bgOpacity', 0, 100)
            div.ui-control
                label Brush blend:
                select#brushBlend
                    option(value='normal' selected='') Normal
                    option(value='add') Add
                    option(value='screen') Screen
                    option(value='multiply') Multiply
                    option(value='color-dodge') Color-dodge
                    option(value='darker') Darken
                    option(value='overlay') Overlay
                    option(value='soft-light') Soft-light
                    option(value='hard-light') Hard-light
            div.ui-control
                label Brush color style:
                select#bgStyle
                    option(value='0' selected='') Custom
                    option(value='1') Unicorn
                    option(value='2') None
                    option(value='3') Gradient
                div.collapseui#brushgradientcollapsible(style='display:none')
                    +input('color', 'Gradient color', 'brushGradientColor')
                    +input('range', 'Transparency:', 'brushGradientTransparency', 0, 100)
                    div.ui-control
                        label Gradient type:
                        select#brushGradientType(type='select')
                            option(value=false selected='') Radial
                            option(value=true) Linear
                    +input('range', 'Balance:', 'brushGradientBalance', 0, 100)
        
            div.ui-control
                label Brush effect:
                select#bgEffect
                    option(value='0' selected='') None
                    option(value='1') Bulp    
                    option(value="2") Hollow
                div.collapseui#bulbcollapsible(style='display:none')
                    +input('range', 'Bulb amp:', 'bulbAmp', 0, 100)
                    +input('range', 'Bulb freq:', 'bulbFreq', 0, 100)
        
      div.ui-section#lines-section
        .ui-section-label.section 
            span Lines
        +input('range', 'Lines:', 'lines', 0, 30)
        +input('range', 'Width:', 'lineWidth', 0, 40)
        +input('color', 'Line color', 'lineColor')
        +input('range', 'Line opacity', 'lineOpacity', 0, 100)
            
        div.ui-control
            label Style:
            select#lineStyle
                option(value='3' selected='') Custom
                option(value='0') Unicorn
                option(value='4') Vertical
                option(value='5') Horizontal
                option(value='6') Wavy
                option(value='7') Text
                option(value='8') Spikes
            div.collapseui#wavecollapsible(style='display:none')
                +input('range', 'Wave amp:', 'waveAmp', 0, 50)
                +input('range', 'Wave freq:', 'waveFreq', 0, 100)

            div.collapseui#textcollapsible(style='display:none')
                +input('text', 'Text', 'textContent')
                +input('color', 'Text color', 'textColor')
                +input('color', 'Border color', 'textBorderColor')
                +input('range', 'Border width:', 'textBorderWidth', 0, 100)
                +input('range', 'Text size:', 'textSize', 0, 100)
                +input('range', 'Text spread:', 'textSpread', 0, 100)
                +input('range', 'Text pos:', 'textYPos', 0, 100)
                +input('range', 'Text bump:', 'textBump', 0, 100)

            div.collapseui#spikecollapsible(style='display:none')
                +input('range', 'Spike amp:', 'spikeAmp', 0, 100)
                +input('range', 'Spike freq:', 'spikeFreq', 0, 100)
        +input('range', 'Fade:', 'fade', 0, 100)
      div.ui-section#extras-section
        .ui-section-label.section 
            span Extras
        +input('range', 'Shadow:', 'shadow', 0, 100)

        div.ui-control
            label Cap:
            select#cap
                option(value='0') Filled
                option(value='1') Open
                option(value='2' selected='') Horizontal
                option(value='3') Vertical
                option(value='4') Dome

        +input('range', 'Twist:', 'twist', 0, 500)
        +input('range', 'Roundness:', 'corner', 0, 200)
        +input('range', 'Wedge:', 'wedge', 0, 100)
        div.ui-control
            label Stitch:
            select#stitchOn
                option(value='0' selected) Off
                option(value='1') Stitch On
        +input('text', 'Stitch content', 'stitchContent')
        +input('color', 'Stitch color1', 'stitchColor1')
        +input('color', 'Stitch color2', 'stitchColor2')
        +input('range', 'Stitch freq:', 'stitchFreq')

       

    #animation-controls
        //- .anim-control
        //-     label Rotation increment
        //-     input#aRotationInc(type='number' min='0' max='360' value='')
        .anim-control
            label Rotation variation
            input#aRotationMin(type='number' min='0' max='1000' value='')
            input#aRotationMax(type='number' min='0' max='1000' value='')
        //- label Wave amp:
        //- input#aWaveAmp(type='number' min='0' max='100' value='0')
        .anim-control
            label Brush size variation:
            input#aBrushSizeMin(type='number' min='0' max='1000' value='')
            input#aBrushSizeMax(type='number' min='0' max='1000' value='')
        .anim-control
            label Twist variation
            input#aTwistMin(type='number' min='0' max='500' value='')
            input#aTwistMax(type='number' min='0' max='500' value='')
        .anim-control
            label Bulb amp variation
            input#aBulbAmpMin(type='number' min='0' max='100' value='')
            input#aBulbAmpMax(type='number' min='0' max='100' value='')    
        .anim-control
            label Bulb freq variation
            input#aBulbFreqMin(type='number' min='0' max='100' value='')
            input#aBulbFreqMax(type='number' min='0' max='100' value='')     
        .anim-actions
            button#step-animation(type='button') Step forward
            button#start-animation(type='button') Start animation
            button#stop-animation(type='button') Stop animation
            button#start-capture(type='button') Start Capture
            button#stop-capture(type='button') Stop Capture