mixin input(type, label, name, min=0, max, value='')
    div(class='ui-control')&attributes(attributes)
        label=label
            span(id=name + 'Val', data-type=type)
        input(id=name, type=type, value=value, min=min, max=max)

mixin section(label)
    .ui-section-label.section 
        span=label



mixin select(label, name, options)
    div(class='ui-control')&attributes(attributes)
        label=label
        select(id=name)
            each myOption in options
                if myOption.selected
                    option(value=myOption.value selected)=myOption.label
                else
                    option(value=myOption.value)=myOption.label


doctype html
html
  head
    meta(charset='UTF-8')
    title WormPath
    link(rel='stylesheet' href='style.css')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')
    script(type='text/javascript' src='https://unpkg.com/acorn')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js' integrity='sha512-ehNJ9gpOQJn8EYlA3P1zUtfrh97G/6WNsjfPfpnMxbo6PX6UXHRj8Ny5MCd36w2eTPlvOSVuXLZmY+/VLVhI4A==' crossorigin='anonymous')
    script(src='CCapture.all.min.js')
    script(src='http://joeiddon.github.io/perlin/perlin.js')
    script(type='text/paperscript' canvas='canvas' src='wormpath.js')
  body
    canvas#canvas(resize='' hidpi="off")

    #progress
    button#export-button Export SVGx
    button#log-params Log params
    button#debug Debug
    

    #ui-tabs
        .tab(data-target="general").active   General
        .tab(data-target="brush") Brush
        .tab(data-target="lines-section") Lines
        .tab(data-target="effects") Effects
        .tab(data-target="text") Text
        .tab(data-target="stitch") Stitch
        .tab(data-target="noise") Noise
        .tab(data-target="zigzag") Zigzag
        .tab(data-target="anim") Animation

        .brand Wormpath 2021 by 
            a(href='https://www.instagram.com/jussijokinen/') Jussi Jokinen 
            | – 
            a(href='https://github.com/jokjus/Wormpath') Fork on Github
    #ui-row
        div.ui-section#general
            //- .ui-section-label.section 
            //-     span General
             
                //- Select is populated programmatically from the presets.json 
            +input('color', 'Bg color', 'drawingBgColor')
            +input('range', 'Scale:', 'drawingSize', 0, 20)
            +input('range', 'Density:', 'density', 0, 100)
            +section("Presets")
            div.ui-control        
                label Preset:
                select#preset
            div.ui-generic
                input#presetName(type='text' placeholder='Preset name')
                button#savePresets Save preset
            


        div.ui-section#brush
            +select('Brush type:', 'bgType', [
                        {label: 'Square', value: 0},
                        {label: 'Circle', value: 1},
                        {label: 'Double diamond', value: 2},
                        {label: 'Cross', value: 3},
                        {label: 'Pyramid', value: 4},
                        {label: 'Bubble', value: 5}
                    ])  
            div.collapseui#brushtypecollapsible(style='display:none')
                +input('range', 'Innercircle size', 'inCircleSize')
                +input('color', 'Innercircle color', 'inCircleColor')
                +input('range', 'Innercircle opacity', 'inCircleOpacity')
                +select('Brush color style:', 'inCircleBlendmode', [
                        {label: 'Normal', value: 'normal'},
                        {label: 'Add', value: 'add'},
                        {label: 'Screen', value: 'screen'},
                        {label: 'Multiply', value: 'multiply'},
                        {label: 'Color-dodge', value: 'color-dodge'},
                        {label: 'Darken', value: 'darker'},
                        {label: 'Overlay', value: 'overlay'},
                        {label: 'Soft light', value: 'soft-light'},
                        {label: 'Hard light', value: 'hard-light'}
                    ])
            div.collapseui#brushcrosscollapsible(style='display:none')
                +input('range', 'Cross Width:', 'brushCrossWidth')
            div.collapseui#brushbubblesizecollapsible(style='display:none')
                +input('range', 'Bubble size:', 'brushBubbleSize', 0, 100)
                +input('range', 'Bubbles:', 'brushBubbleAmount', 0, 50)
                +select('Brush type:', 'brushBubbleType', [
                        { label: 'Circle', value: 0 }, 
                        { label: 'Rectangle', value: 1 }
                    ])

            +input('range', 'Brush size:', 'size', 0, 400)
            +input('range', 'Rotation:', 'rotation', 0, 360)

            +section("Bg")
            +input('color', 'Brush Bg', 'bgColor')
            +input('range', 'Brush opacity', 'bgOpacity', 0, 100)

            +section("Stroke")
            +input('color', 'Brush stroke color', 'brushStrokeColor')
            +input('range', 'Brush stroke width', 'brushStrokeWidth', 0, 100)
            +input('range', 'Brush stroke opacity', 'brushStrokeOpacity', 0, 100)

            +section("Style")
            div.ui-control
                label Brush blend:
                select#brushBlend
                    option(value='normal' selected='') Normal
                    option(value='add') Add
                    option(value='screen') Screen
                    option(value='multiply') Multiply
                    option(value='color-dodge') Color-dodge
                    option(value='darker') Darken
                    option(value='overlay') Overlay
                    option(value='soft-light') Soft-light
                    option(value='hard-light') Hard-light
            div.ui-control
                label Brush color style:
                select#bgStyle
                    option(value='0' selected='') Custom
                    option(value='1') Unicorn
                    option(value='2') None
                    option(value='3') Gradient
                div.collapseui#brushgradientcollapsible(style='display:none')
                    +input('color', 'Gradient color', 'brushGradientColor')
                    +input('range', 'Transparency:', 'brushGradientTransparency', 0, 100)
                    +select('Gradient type:', 'brushGradientType', [
                        {label: 'Radial', value: 1},
                        {label: 'Linear', value: 0}
                    ])           
                    +input('range', 'Balance:', 'brushGradientBalance', 0, 100)

            +select('Cap:', 'cap', [
                    {label: 'Filled', value: 0},
                    {label: 'Open', value: 1},
                    {label: 'Horizontal', value: 2},
                    {label: 'Vertical', value: 3},
                    {label: 'Dome', value: 4}
                ])                    
   
            +select('Brush effect:', 'bgEffect', [
                    {label: 'None', value: 0},
                    {label: 'Bulp', value: 1},
                    {label: 'Hollow', value: 2}
                ])
            div.collapseui#bulbcollapsible(style='display:none')
                +input('range', 'Bulb amp:', 'bulbAmp', 0, 100)
                +input('range', 'Bulb freq:', 'bulbFreq', 0, 100)
        
        div.ui-section#lines-section
            +input('range', 'Lines:', 'lines', 0, 30)
            +input('range', 'Width:', 'lineWidth', 0, 40)
            +input('color', 'Line color', 'lineColor')
            +input('range', 'Line opacity', 'lineOpacity', 0, 100)
                
            div.ui-control
                label Style:
                select#lineStyle
                    option(value='3' selected='') Custom
                    option(value='0') Unicorn
                    option(value='4') Vertical
                    option(value='5') Horizontal
                    option(value='6') Wavy
                    option(value='8') Spikes

                div.collapseui#wavecollapsible(style='display:none')
                    +input('range', 'Wave amp:', 'waveAmp', 0, 50)
                    +input('range', 'Wave freq:', 'waveFreq', 0, 100)     
                    +input('checkbox', 'Noise', 'waveNoiseOn',0 , 0, 0)
                    +input('range', 'Noise offset', 'waveNoiseOffset', 0, 100)
                    +input('range', 'Wave phase', 'wavePhase', 0, 100)
                div.collapseui#spikecollapsible(style='display:none')
                    +input('range', 'Spike amp:', 'spikeAmp', 0, 100)
                    +input('range', 'Spike freq:', 'spikeFreq', 0, 100)

            +input('range', 'Fade:', 'fade', 0, 100)

        div.ui-section#effects
            +input('range', 'Shadow:', 'shadow', 0, 100)        
            +input('range', 'Twist:', 'twist', 0, 500)
            +input('range', 'Roundness:', 'corner', 0, 200)
            +input('range', 'Wedge:', 'wedge', 0, 100)
            +input('range', 'Last point wiggle:', 'lastPointWiggle', 0, 100)
            +input('range', 'Path completeness:', 'pathCompleteness', 0, 100)

        div.ui-section#text
            +input('checkbox', 'Text', 'textOn', 0, 0, 0)
            +input('text', 'Text', 'textContent')
            +input('color', 'Text color', 'textColor')
            +input('color', 'Border color', 'textBorderColor')
            +input('range', 'Border width:', 'textBorderWidth', 0, 100)
            +input('range', 'Text size:', 'textSize', 0, 100)
            +input('range', 'Text spread:', 'textSpread', 0, 100)
            +input('range', 'Text pos:', 'textYPos', 0, 100)
            +input('range', 'Text bump:', 'textBump', 0, 100)

        div.ui-section#stitch
            +input('checkbox', 'Stitch', 'stitchOn', 0, 0, 0)
            +input('text', 'Stitch content', 'stitchContent')
            +input('color', 'Stitch color1', 'stitchColor1')
            +input('range', 'Color1 opacity:', 'stitchColor1Opacity', 0, 100)
            +input('color', 'Stitch color2', 'stitchColor2')
            +input('range', 'Color2 opacity:', 'stitchColor2Opacity', 0, 100)
            +input('range', 'Stitch freq:', 'stitchFreq', 0, 100)        

        div.ui-section#noise
            +input('checkbox', 'Noise', 'noiseOn', 0, 0, 0)
            +input('range', 'Noise freq:', 'noiseFreq')    
            +input('range', 'Noise Amp:', 'noiseAmp') 
            +input('range', 'Noise Phase:', 'noisePhase', 0, 100)
            +input('range', 'Paths offset:', 'noisePathOffset', 0, 100)

        div.ui-section#zigzag
            +input('checkbox', 'Zigzag:', 'pathZigZagOn', 0, 0, 0)
            +input('range', 'Zigzag amp:', 'pathZigzagAmp', 0, 100)    
            +input('range', 'Zigzag freq:', 'pathZigzagFreq', 0, 100)    

        
        .ui-section#anim
            div
                label Animation speed
                input#aSpeed(type='number' value=20)
            .anim-control
                label Rotation variation
                input#aRotationMin(type='number' min='0' max='1000' value='')
                input#aRotationMax(type='number' min='0' max='1000' value='')
            //- label Wave amp:
            //- input#aWaveAmp(type='number' min='0' max='100' value='0')
            .anim-control
                label#brushSizeReset Brush size variation:
                input#aBrushSizeMin(type='number' min='0' max='1000' value='')
                input#aBrushSizeMax(type='number' min='0' max='1000' value='')                
            .anim-control
                label Twist variation
                input#aTwistMin(type='number' min='0' max='500' value='')
                input#aTwistMax(type='number' min='0' max='500' value='')
            .anim-control
                label Bulb amp variation
                input#aBulbAmpMin(type='number' min='0' max='100' value='')
                input#aBulbAmpMax(type='number' min='0' max='100' value='')    
            .anim-control
                label Bulb freq variation
                input#aBulbFreqMin(type='number' min='0' max='100' value='')
                input#aBulbFreqMax(type='number' min='0' max='100' value='')  
            .anim-control
                label Noise phase
                input#aNoisePhaseMin(type='number' min='0' max='100' value='')
                input#aNoisePhaseMax(type='number' min='0' max='100' value='')     
            .anim-control
                label Wave phase 
                input#aWaveNoiseOffsetMin(type='number' min='0' max='100' value='')
                input#aWaveNoiseOffsetMax(type='number' min='0' max='100' value='')  
            .anim-control
                label Path completeness 
                input#aPathCompletenessMin(type='number' min='0' max='100' value='')
                input#aPathCompletenessMax(type='number' min='0' max='100' value='') 
            .anim-control
                label Zigzag amplitude 
                input#aZigzagAmpMin(type='number' min='0' max='100' value='')
                input#aZigzagAmpMax(type='number' min='0' max='100' value='')         
            .anim-control
                label Animation format
                select#aFormat
                    option(value='webm') WEBM
                    option(value='png') PNG
                    option(value='jpg') JPG
                    option(value='gif') GIF
            .anim-actions
                button#step-animation(type='button') Step forward
                button#start-animation(type='button') Start animation
                button#stop-animation(type='button') Stop animation
                button#start-capture(type='button') Start Capture
                button#stop-capture(type='button') Stop Capture
                //- .anim-control
                //-     label Rotation increment
                //-     input#aRotationInc(type='number' min='0' max='360' value='')